.root {
     -fx-background-image: url("descargas.png");
}

.button {
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#00ccff, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:pressed {
    -fx-background-color: linear-gradient(#1E88E5, #42A5F5);
}

.menu:hover {
	-fx-background-color: linear-gradient(#1E88E5, #42A5F5);
}

.menu-item:hover {
	-fx-background-color: linear-gradient(#1E88E5, #42A5F5);
}

.menu-bar {
	-fx-background-color: #1E88E5;
}

.text-area .content{
	-fx-font-family: "Comic Sans";
	-fx-background-color: #E3F2FD;
}

.text-field {
	-fx-font-family: "Comic Sans";
	-fx-background-color: #E3F2FD;
}
