.root {
     -fx-background-image: url("descargas.png");
}

.button {
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#00ccff, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
	-fx-background-color: linear-gradient(#33d6ff, #2A5058);
}

.button:pressed {
    -fx-background-color: linear-gradient(#00BCD4, #33e7ff);
}

.menu-bar {
    /*-fx-background-color: transparent;*/
        -fx-background-color: rgba(0, 0, 0, 0.2);
}

/* .menu {
    -fx-label-padding: 3px;
}*/

.menu .label, .menu-item .label {
    -fx-text-fill: #eee;
}

.menu:hover, .menu:showing {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.menu-item:hover, .menu-item:focused {
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

.context-menu {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.text-area {
	-fx-font-family: "Comic Sans";
}

.text-area .content{
	-fx-font-family: "Comic Sans";
        /*-fx-background-color: transparent;*/

}

.text-field {
	-fx-font-family: "Comic Sans";
	-fx-background-color: #E3F2FD;
}
